<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetStudent</servlet-name>
        <servlet-class>servlets.GetStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLibrarian</servlet-name>
        <servlet-class>servlets.GetLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsername</servlet-name>
        <servlet-class>servlets.ServletUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmail</servlet-name>
        <servlet-class>servlets.ServletEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPaso</servlet-name>
        <servlet-class>servlets.ServletPaso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGIN</servlet-name>
        <servlet-class>servlets.LOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_login</servlet-name>
        <servlet-class>servlets.servlet_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_lib</servlet-name>
        <servlet-class>servlets.servlet_lib</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>servlets.admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_Logout</servlet-name>
        <servlet-class>servlets.servlet_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_userdata</servlet-name>
        <servlet-class>servlets.servlet_userdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_student</servlet-name>
        <servlet-class>servlets.update_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletlibdata</servlet-name>
        <servlet-class>servlets.servletlibdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_lib</servlet-name>
        <servlet-class>servlets.update_lib</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_library_data</servlet-name>
        <servlet-class>servlets.update_library_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_deletestudent</servlet-name>
        <servlet-class>servlets.admin_deletestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_deletelib</servlet-name>
        <servlet-class>servlets.admin_deletelib</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>servlets.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianListForm</servlet-name>
        <servlet-class>servlets.LibrarianListForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibListServlet</servlet-name>
        <servlet-class>servlets.LibListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>servlets.StatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentStatisticsServlet</servlet-name>
        <servlet-class>servlets.StudentStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryBookCountsServlet</servlet-name>
        <servlet-class>servlets.LibraryBookCountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>servlets.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booksinlibraries</servlet-name>
        <servlet-class>servlets.booksinlibraries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIsbn</servlet-name>
        <servlet-class>servlets.ServletIsbn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIsbn2</servlet-name>
        <servlet-class>servlets.ServletIsbn2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>servlets.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>servlets.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIsbnForReview</servlet-name>
        <servlet-class>servlets.ServletIsbnForReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchReviewsServlet</servlet-name>
        <servlet-class>servlets.FetchReviewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestBooksServlet</servlet-name>
        <servlet-class>servlets.GuestBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUsernamesServlet</servlet-name>
        <servlet-class>servlets.FetchUsernamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStudent</servlet-name>
        <url-pattern>/GetStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLibrarian</servlet-name>
        <url-pattern>/GetLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsername</servlet-name>
        <url-pattern>/ServletUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmail</servlet-name>
        <url-pattern>/ServletEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPaso</servlet-name>
        <url-pattern>/ServletPaso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGIN</servlet-name>
        <url-pattern>/LOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_login</servlet-name>
        <url-pattern>/servlet_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_lib</servlet-name>
        <url-pattern>/servlet_lib</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_Logout</servlet-name>
        <url-pattern>/servlet_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_userdata</servlet-name>
        <url-pattern>/servlet_userdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_student</servlet-name>
        <url-pattern>/update_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletlibdata</servlet-name>
        <url-pattern>/servletlibdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_lib</servlet-name>
        <url-pattern>/update_lib</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_library_data</servlet-name>
        <url-pattern>/update_library_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_deletestudent</servlet-name>
        <url-pattern>/admin_deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_deletelib</servlet-name>
        <url-pattern>/admin_deletelib</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianListForm</servlet-name>
        <url-pattern>/LibrarianListForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibListServlet</servlet-name>
        <url-pattern>/LibListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/StatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentStatisticsServlet</servlet-name>
        <url-pattern>/StudentStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryBookCountsServlet</servlet-name>
        <url-pattern>/LibraryBookCountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booksinlibraries</servlet-name>
        <url-pattern>/booksinlibraries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIsbn</servlet-name>
        <url-pattern>/ServletIsbn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIsbn2</servlet-name>
        <url-pattern>/ServletIsbn2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIsbnForReview</servlet-name>
        <url-pattern>/ServletIsbnForReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchReviewsServlet</servlet-name>
        <url-pattern>/FetchReviewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestBooksServlet</servlet-name>
        <url-pattern>/GuestBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUsernamesServlet</servlet-name>
        <url-pattern>/FetchUsernamesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
