

body {
    font-size: 20px;
    background-image: url("images/ikona1.jpg");
    color:white;
    width: 100%; /* Adjust the width as needed */
    height: 100vh; /* Adjust the height as needed */
}
legend {
    color: black;
    background-color:#e7a66e;
    border-radius: 10px;
    padding: 5px 8px;
}
fieldset {
    border-color: #e7a66e;
    background-color: rgba(0, 0, 0, .59);
}
.button{
    background-color:#e7a66e;
    font-size: 20px;
    border-color: black;
    border-radius: 12px;
    padding: 5px 24px;
}

.button:hover {

    border-color:black;
    background-color: #2c5039;
    color: white;
}
.arrays-container {
    display: flex; /* Set the display mode to flex */
}

.array {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

#userList{
    font-family: "Arial", Times, serif;
    background-color: rgba(0, 0, 0, .58);
    color : white;
    font-size: 20px;
    border-radius: 12px;
    padding: 8px 24px;
    border: 3px solid;
    border-color: #e7a66e;
    max-width: 60%; /* Set a maximum width for the element */
}
#LibList{
    font-family: "Arial", Times, serif;
    background-color: rgba(0, 0, 0, .58);
    color : white;
    font-size: 20px;
    border-radius: 12px;
    padding: 8px 24px;
    border: 3px solid;
    border-color: #e7a66e;
    max-width: 60%; /* Set a maximum width for the element */
}
#butstu{
    background-color:#e7a66e;
    font-size: 20px;
    border-color: black;
    border-radius: 12px;
    padding: 5px 24px;
}

#butlib{
    background-color:#e7a66e;
    font-size: 20px;
    border-color: black;
    border-radius: 12px;
    padding: 5px 24px;
}

#forcssstat{
    font-family: "Arial", Times, serif;
    background-color: rgba(0, 0, 0, .58);
    color : white;
    font-size: 16px;
    border-radius: 12px;
    padding: 8px 24px;
    border: 3px solid;
    border-color: #e7a66e;
    max-width: 60%; /* Set a maximum width for the element */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #e7a66e;
    color: black;
}

#forcssstat2{
    font-family: "Arial", Times, serif;
    background-color: rgba(0, 0, 0, .58);
    color : white;
    font-size: 16px;
    border-radius: 12px;
    padding: 8px 24px;
    border: 3px solid;
    border-color: #e7a66e;
    max-width: 60%; /* Set a maximum width for the element */
}

.footer {
    font-family: "Arial", Times, serif;
    color:#e7a66e;
    background-color: rgba(0, 0, 0, .59);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 18px;
    border: 3px solid;
    border-color: #e7a66e;
    border-radius: 10px;
}
#xx{
    font-size: 17px;
    color: orangered;
}

.link-white {
    color: white;
}

