

img{
    max-width: 100%;
    height: auto;
}
body {
 background-image: url("images/ikona1.jpg");
 color:white;
}
#login-form {

  width: 400px;
  height:295px;
  padding: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, .59);
}
#titlos{
    position: fixed;
     top: 50px;
    text-align: center;
    font-size:45px;
    font-family: "Arial", Times, serif;
    color:#e7a66e;
}
#subtitle{
    top:0;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color:#e7a66e;
}

#boxaki{
  text-align: center;
  width: 400px;
  height:295px;

  display: block;
  border: 3px solid;
  border-color: #e7a66e;
  border-radius: 10px;
}
#mark{
    color:white;
    background-color: rgba(1,1,1,.5);
}
.loginb{
    background-color:#e7a66e;
    font-size: 16px;
    border:none;
    border-radius: 12px;
    padding: 8px 24px;
}

.regb{
    background-color:#e7a66e;
    font-size: 16px;
    border:none;
    border-radius: 12px;
    padding: 8px 24px;
}

.loginb:hover {

    border:none;
    background-color: #2c5039;
    color: white;
}
.regb:hover {
    border:none;
    background-color: #2c5039; 
    color: white;
}
.pavla {
    border: 1px dashed #e7a66e;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

}
input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    color:white;
    height:50%;
    background-color:gray;
    box-sizing: border-box;
}
input[type=password] {
    width: 90%;
    height:50%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color:gray;
    box-sizing: border-box;
}
::placeholder{
    color:white;
}
#ppp{
    text-align: left;
}